body {
        margin: 0;
        padding: 0;
    }
.content {
	height:auto;
	max-width:600px;
	width:auto;
        background-color: blue;
        color: white;
	  margin: auto;
	  border: 10px solid white;
}