.content1{
	display:grid;
height:95%;
	width:95%;
	margin: 20px;
     grid-template-columns: repeat(auto-fill, minmax(150px, 	1fr));
     grid-gap: 70px;
     color: black;

}
.content1 > div{
	 background-color:aquamarine;
	 width:200px;
	 height:100px;	
}
.content2{
	height:auto;
	width:max;
	background-color:bisque;
}